.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  &__content {
    padding: 1rem;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
    background-color: white;
    margin: 20% auto;
    width: 50%;
    border-radius: 0.25rem;
  }
}
