@use '../../styles/partials/colors' as *;
@use '../../styles/partials/utility' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/buttons' as *;

.project-listing {
  &__item {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    @include flex-center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: white;
  }

  &__title {
    font-weight: 500;
  }

  &__timestamp {
    font-size: 0.8rem;
    color: $date;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__button-container {
    display: flex;
  }

  &__button-sm-primary {
    @include button-sm-solid($primary, $primary-hover);
    max-width: 10rem;
    padding: 0.75rem;
  }

  &__button-sm-primary--mr {
    margin-right: 0.5rem;
  }

  &__button-sm-primary-outline {
    @include button-sm-outline($secondary, $secondary-hover, white);
    max-width: 10rem;
  }

  &__button-sm-secondary {
    @include button-sm-solid($secondary, $secondary-hover);
    max-width: 10rem;
    padding: 0.75rem;
  }
}
