@use './variables' as *;
@use './media' as *;

@mixin button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  line-height: 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  font-family: $font-stack;
  font-size: 1rem;
}

@mixin button-primary {
  @include button;
  background-color: $color-primary-200;
  transition: background-color 0.25s;
  color: $color-white;

  &:hover {
    background-color: $color-primary-100;
  }
}
