@use './variables' as *;
@use './media' as *;

// Utility Mixins
@mixin container {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $breakpoint-desktop;
  @include desktop {
    padding: 0;
  }
}
