.blog-snippet {
  border-left: solid 10px $primary;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 10px 20px 20px;
  background-color: white;

  .info {
    color: $primary;
    font-size: 0.8em;
  }

  .description {
    margin-top: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.blog-details {
  border-left: solid 10px $primary;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px 20px 20px;
  background-color: white;

  .info {
    color: $primary;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 10px;
  }

  .entry {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
}
