.button {
  padding: 15px 20px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  display: flex;
  svg {
    margin-right: 10px;
  }
  &.cta {
    background-color: $cta;
    &:hover {
      background-color: $cta;
    }
  }
  &.primary {
    background-color: $primary;
    &:hover {
      background-color: $primary;
    }
  }
}

.button-container {
  margin-top: 20px;
  display: flex;
  a {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
  .cta {
    background-color: $cta;
    &:hover {
      background-color: $cta;
    }
  }
  .primary {
    background-color: $primary;
    &:hover {
      background-color: $primary;
    }
  }
  .delete {
    background-color: $error;
    &:hover {
      background-color: $error;
    }
  }
}
