.button {
  padding: 10px 15px;
  border: none;
  font-size: 1.2em;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: $secondary;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  &.cta {
    color: $cta;
    &:hover {
      background-color: $copy;
    }
  }
  &.primary {
    color: $primary;
    &:hover {
      background-color: $copy;
    }
  }
  &.delete {
    color: $errorHighlight;
    &:hover {
      background-color: $copy;
    }
  }
}

.button-container {
  margin-top: 20px;
  display: flex;
  a {
    padding: 8px 15px;
    border-radius: 10px;
    background-color: $secondary;
    text-transform: uppercase;
    font-size: 0.9em;
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
}

.primary {
  color: $primary;
}

.cta {
  color: $cta;
}
