$primary: #d6c7ff;
$secondary: #362b2b;
$cta: #c0ffe5;
$background: #e4e4f1;
$copy: #545353;

// $primary: #402281;
// $primaryHighlight: #582fb1;
// $secondary: #27272b;
// $secondaryHighlight: #4b4750;
// $cta: #119da4;
// $ctaHighlight: #15b0b9;

$dark: #090a0b;
$medium: #3d6d8a;
$light: #ffffff;
$darkGrey: #888888;
$mediumGrey: #cccccc;
$lightGrey: #dddddd;

$success: green;
$warning: yellow;
$error: #a31621;
$errorHighlight: #d71d2d;

$background: #e4e4f1;

$hoverHighlight: #17d4de;

$greenTag: #254441;
$blueTag: #2274a5;
$lightBlueTag: #8fb8de;
$orangeTag: #bc5d2e;
$yellowTag: #f3b61f;
$greyTag: #65655e;
$pinkTag: #9b5094;
