.header {
  background-color: $secondary;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  position: fixed;
  left: 0;
  top: 0;

  .logo-navlink {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.2em;

    text-decoration: none;
    align-items: center;
    span {
      margin-left: 10px;
    }
    &:hover {
      color: $primary;
    }
  }
}
