.nav {
  display: flex;
  flex-direction: row;
}
.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10px;

  .login {
    margin-left: 15px;
    &.active {
      background-color: $primary;
      :hover {
        background-color: $copy;
      }
    }
    a:hover {
      background-color: $primaryHighlight;
    }
  }
  .main {
    &.active {
      padding: 5px 10px 0px 10px;
      border-bottom: solid 5px $primary;
    }
  }
}

a.main {
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  min-height: 50px;
  text-transform: uppercase;
  color: $background;
  &:hover {
    color: $primary;
  }
}

a.login {
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  padding: 3px 15px;
  text-transform: uppercase;
  background-color: $cta;
  font-weight: bold;
  border-radius: 5px;
  color: $secondary;
  // &:hover &.active {
  //   background-color: $primary;
  //   &:hover {
  //     background-color: $primaryHighlight;
  //   }
  // }
}

li.login {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  bottom: 0;
  height: 100vh;
  right: -200px;
  width: 200px;
  background-color: $secondary;
  z-index: 1;
  transition: right 0.5s;
  border-left: solid 5px $cta;

  a.active {
    color: $primary;
  }

  &.active {
    right: 0px !important;
  }
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  list-style-type: none;
  .main {
    &.active {
      color: $primary;
    }
  }
  .login {
    &.active {
      color: $secondary;
      background-color: $primary;
    }
    a:hover {
      background-color: $primaryHighlight;
    }
  }
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 99;
}
