.project {
  border-left: solid 10px $primary;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  .project-container {
    display: flex;
  }
  .project-links {
    display: flex;
    flex-direction: column;
  }

  .project-info {
    flex-wrap: wrap;
    margin-right: auto;
  }

  .info {
    color: $primary;
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  .tags {
    span {
      margin-right: 10px;
    }
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    margin-bottom: 10px;
  }

  .link {
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
    &.site {
      background-color: $primary;
      &:hover {
        background-color: $primary;
      }
      margin-bottom: 15px;
    }
    &.code {
      background-color: $cta;
      &:hover {
        background-color: $cta;
      }
    }
  }
}
