/* Font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Colors */

$primary: #d6c7ff;
$secondary: #362b2b;
$cta: #c0ffe5;
$background: #e4e4f1;
$copy: #545353;
$error: #a31621;
$link: #7847ff;

$errorHighlight: #ee818a;
$primaryHighlight: #f0ebff;
$ctaHighlight: #d6ffee;

$greenTag: #254441;
$blueTag: #2274a5;
$lightBlueTag: #8fb8de;
$orangeTag: #bc5d2e;
$yellowTag: #f3b61f;
$greyTag: #65655e;
$pinkTag: #9b5094;

/* Partials */

@import "./cards";
@import "./form";
@import "./buttons";
@import "./msg";
@import "./tags";
@import "./pagination";

@import "./header";
@import "./nav";
@import "./project";
@import "./banner";
@import "./blogs";

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base App */

#app {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: $background;
}

.container {
  background-color: $background;
  display: flex;
  flex-direction: column;
  padding: 60px 10px 20px 10px;
  flex: 1;
  width: 100%;
  h1 {
    margin: 25px 0px;
    text-align: center;
  }
}

.width-container {
  max-width: 900px;
  margin: 0px auto;
}

.hero {
  margin: auto 0px;
  padding: 20px;
  h1,
  p {
    color: $secondary;
  }
  display: flex;

  h1 {
    margin-bottom: 20px;
    font-weight: normal;
    .emphasis {
      font-weight: bold;
    }
  }

  p {
    margin-bottom: 30px;
  }

  color: $background;
  display: flex;
  min-height: 400px;

  .hero-section {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 300px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    margin-top: 40px;
    svg {
      min-width: 40px;
      min-height: 40px;
      color: $secondary;
      margin: 10px;
    }
    a:hover svg {
      color: $copy;
    }
  }

  .profile img {
    margin-top: 20px;
  }
}

.skills {
  h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  background-color: $secondary;
  min-height: 400px;
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  .skill-container {
    display: flex;
  }
  .skill-card {
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .tag-box {
    display: flex;
    flex-wrap: wrap;
  }
}

.copyright {
  font-size: 0.9em;
  background-color: $copy;
  padding: 1em;
  text-transform: uppercase;
  color: $background;
  text-align: center;
}

.footer {
  padding: 1em;
  display: flex;

  background-color: $secondary;
  color: $background;
  div {
    h2 {
      margin-bottom: 1em;
    }
    display: flex;
    flex-direction: column;

    flex: 1;
    width: 100%;
    ul {
      a {
        color: $primary;
        line-height: 1.5em;
        text-decoration: none;
      }
    }
  }
}

.text-link {
  color: $link;
  text-decoration: none;
  margin: 0px 5px;
  &:hover {
    color: $copy;
  }
}

/* Media Queries */

@media (max-width: 700px) {
  .project-info,
  .skill-container {
    flex-direction: column;
  }
  .skill-container {
    div {
      margin-bottom: 20px;
    }
  }
  .project-links {
    margin-top: 20px;
    width: 100%;
    a {
      justify-content: center;
    }
  }
  .hero {
    flex-direction: column;
  }
}
