@use './media' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin expand {
  width: 100%;
  height: 100%;
}

@mixin mp-zero {
  margin: 0;
  padding: 0;
}

@mixin container {
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  @include tablet {
    padding: 0 1rem;
  }
}
