/* --- Colors --- */

$primary: #5cc3ff;
$primary-hover: lighten($primary, 10%);

$secondary: #1d1d20;
$secondary-hover: lighten($secondary, 5%);
$secondary-fill: rgba(49, 49, 53, 0.95);

$date: #96969c;

$accent: lighten($primary, 10%);
$accent-bg: #f3f1f9;

$error: #ff3347;
$error-bg: #ffebed;

$background: #f4f4f5;
