@use '../../styles/partials/colors' as *;
@use '../../styles/partials/utility' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/buttons' as *;

.section {
  padding: 2rem;
  width: 100%;
  display: flex;
  &--light {
    background-color: white;
    color: $secondary;
    @include tablet {
      background-color: $background;
    }
  }
  &--dark {
    background-color: $secondary;
    color: #fff;
  }
  &--hero {
    height: 100vh;
    padding-top: 6rem;
  }

  &--dash {
    padding-top: 6rem;
  }

  &__portrait-container {
    @include tablet {
      border: solid 4px $primary;
      border-radius: 50%;
      margin: 2rem 0 0 4rem;
    }
    @include desktop {
      margin-top: 4rem;
    }
  }

  &__portrait {
    display: none;
    border-radius: 50%;
    @include tablet {
      display: block;
      max-width: 12rem;
    }
    @include desktop {
      max-width: 15rem;
    }
  }

  &__hero-container {
    @include flex-center;
    flex-direction: row;

    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;

    @include tablet {
      align-items: center;
      width: 80%;
    }
  }

  &__hero-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    @include tablet {
      align-items: flex-start;
    }
  }

  &__accent {
    color: $accent;
  }
  &__scroll-indicator {
    position: absolute;
    bottom: 0;
    @include flex-center;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      background-color: $secondary-hover;
    }
  }

  &__button-lg-primary {
    @include button-lg-solid($primary, $primary-hover);
    width: 100%;
    @include tablet {
      max-width: fit-content;
    }

    &--margin {
      margin: 0 0 1rem 0;
      @include tablet {
        margin: 0 1rem 0 0;
      }
    }
  }

  &__button-lg-primary-outline {
    @include button-lg-outline($secondary, $secondary-hover, white);
    max-width: 15rem;
  }

  &__button-lg-outline {
    @include button-lg-outline($secondary, $secondary-hover, white);
    width: 100%;
    @include tablet {
      max-width: fit-content;
    }
  }

  &__button-sm-primary {
    @include button-sm-solid($primary, $primary-hover);
    max-width: 10rem;
    padding: 0.75rem;
  }

  &__button-sm-primary--mr {
    margin-right: 0.5rem;
  }

  &__button-sm-primary-outline {
    @include button-sm-outline($secondary, $secondary-hover, white);
    max-width: 10rem;
  }

  &__button-sm-secondary {
    @include button-sm-solid($secondary, $secondary-hover);
    max-width: 10rem;
    padding: 0.75rem;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    @include tablet {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &__button-icon {
    margin-right: 1rem;
  }

  &__h1 {
    @include h1;
    @include tablet {
      text-align: left;
    }
    &--centered {
      text-align: center;
    }
  }

  &__project-list {
    @include flex-center;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    margin: 0 auto 2rem auto;
    padding: 0;
    @include tablet {
      width: 30rem;
    }
  }

  &__h2 {
    @include h2;
  }
  &__h3 {
    @include h3;
    margin: 2rem auto 2rem auto;
  }
  &__p {
    @include p;
    &--centered {
      text-align: center;
      margin: 0 0 2rem 0;
    }
  }
}
