@use '../../styles/partials/colors' as *;

@mixin button($bg, $hover) {
  border: none;
  padding: 0.75rem 1.25rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  background-color: $bg;
  &:hover {
    background-color: $hover;
  }
}
