@use '../../styles/partials/colors' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/utility' as *;

.form {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto 0 auto;
  box-shadow: none;
  width: 100%;
  @include tablet {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 2rem 2rem 2rem;

    max-width: 30rem;
    border-radius: 0.25rem;

    background: white;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    font-weight: 500;
    color: $secondary;
  }
  &__input {
    border: none;
    outline: 1px solid#ccc;
    background-color: $background;
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
    &:focus {
      background-color: $accent-bg;
      outline: 1px solid $accent;
    }
  }
  &__textarea {
    height: 15rem;
    resize: none;
  }
  &__button-container {
    @include flex-center;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }
}
