@use '../../styles/partials/colors' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/utility' as *;

.modal {
  background-color: $secondary-fill;
  position: fixed;
  z-index: 2;
  top: -100%;
  width: 100vw;
  height: 100vh;
  transition: top 0.4s, opacity 0.4s;
  overflow: hidden;
  @include flex-center;
  &__content {
    margin: 0;
    height: 100%;
    display: flex;
    background-color: white;
    padding: 2rem;
    width: 100%;
    @include tablet {
      padding: 0;

      height: fit-content;
      max-width: 30rem;
      border-radius: 0.25rem;
      width: 60%;
    }
  }
  &--open {
    top: 0;
    opacity: 1;
  }
}
