@use '../../styles/partials/colors' as *;
@use '../../styles/partials/media' as *;
@use '../../styles/partials/utility' as *;
@use '../../styles/partials/buttons' as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    opacity: 80%;
    z-index: 1;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    z-index: 0;
  }
  &__feature {
    z-index: 2;
    color: #fff;
  }
  &__h1 {
    @include h1;
  }
  &__p {
    @include p;
  }
  &__wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    z-index: 3;
    background: $background;
    color: white;
    --mask: radial-gradient(2.24rem at 50% 3rem, #000 99%, #0000 101%) calc(50% - 2rem) 0/4rem 100%,
      radial-gradient(2.24rem at 50% -2rem, #0000 99%, #000 101%) 50% 1rem/4rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}
